@import url(./__image/about__image.css);
@import url(./__text/about__text.css);
@import url(./__paragraph/about__paragraph.css);

.about {
    padding: 80px 104px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .about {
        padding: 40px;
    }
}

@media screen and (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 375px) {
    .about {
        padding: 20px 16px 44px;
    }
}