.nav__link_type_footer {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

}

.nav__link_type_footer:hover,
.nav__link_type_footer:active {
    font-weight: bold;
}