@import url(./content-title_type_max-width.css);

.content-title {
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .content-title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 16px;
    }
}