
@import url(./nav__list_type_header.css);
@import url(../__item/nav__item.css);
@import url(../__link/nav__link.css);
@import url(../__link/nav__link_checked.css);

.nav__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}