
.description {
    padding: 80px 104px 94px 104px;
}


@media screen and (max-width: 768px) {
    .description {
        padding: 30px 40px 26px;
    }
}


@media screen and (max-width: 510px) {
    .description {
        padding: 16px;
    }
}
