.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .title-section {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 375px) {
    .title-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 24px;
    }
}