@import url(./title-section_type_git.css);
@import url(./title-section_type_cards.css);
@import url(./title-section_is-opened.css);

.title-section {
  display: none;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 375px) {
  .title-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
