.title-section_type_git {
    padding: 0 104px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .title-section_type_git {
        padding: 0;
        margin-bottom: 16px;
    }
}


@media screen and (max-width: 510px) {
    .title-section_type_git {
        padding: 0;
        margin-bottom: 0;
    }
}

