@import url(./__image/logo__image.css);
@import url(./__image/logo__image_theme_light.css);

.logo {
    display: block;
    width: 200px;
    height: 24px;
}

@media screen and (max-width: 510px) {
    .logo {
        width: 117px;
        height: 18px;
    }
}