@import url(./__header/graphic__header.css);
@import url(./__date-box/graphic__date-box.css);
@import url(./__bar-box/graphic__bar-box.css);
@import url(./__date/graphic__date.css);
@import url(./__result/graphic__result.css);
@import url(./__bar/graphic__bar.css);
@import url(./__information/graphic__information.css);
@import url(./__text/graphic__text.css);
@import url(./__axis/graphic__axis.css);


.graphic {
  display: flex;
  align-items: flex-start;

  position: relative;
}

.graphic:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  top: 56px;
  border-bottom: 1px solid #1A1B22;
}

@media screen and (max-width: 510px) {
  .graphic:before {
      top: 52px;
  }
}
