@import url(./__text/load__text.css);
@import url(./__preloader/load__preloader.css);
@import url(./load_is-opened.css);

.load {
  flex-direction: column;
  align-items: center;

  display: none;
}



