@import url(./__text/load__text.css);
@import url(./__preloader/load__preloader.css);

.load {
  flex-direction: column;
  align-items: center;

  display: none;
}


.load_is-opened {
  display: flex;
}
