@import url(./__info/header__info.css);
@import url(./__main/header__main.css);

.header {
    background-image: url(../../images/bg-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}